/* =========================================================
   Base ProseMirror Styles
   ========================================================= */

.ProseMirror {
  padding: 1rem;
}

/* =========================================================
   ORDERED LIST – BASE (disable native markers)
   ========================================================= */

.ProseMirror ol {
  list-style: none;
  padding-left: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Reset counter only at top level */
.ProseMirror > ol {
  counter-reset: item;
}

.ProseMirror ol li {
  position: relative;
  padding-left: 0.25rem;
}

/* Default counter increment */
.ProseMirror ol li::before {
  counter-increment: item;
  position: absolute;
  left: -2.2rem;
  width: 2rem;
  text-align: right;
  color: #222;
  font-weight: normal;
}

/* Nested list spacing */
.ProseMirror ol ol {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-left: 2rem;
}

/* =========================================================
   DECIMAL (1.1.1)
   ========================================================= */

.ProseMirror.list-decimal ol li::before {
  content: counters(item, ".") ". ";
}

/* =========================================================
   LOWER ALPHA (a.b.c)
   ========================================================= */

.ProseMirror.list-lower-alpha ol li::before {
  content: counters(item, ".", lower-alpha) ". ";
}

/* =========================================================
   LOWER ROMAN (i.ii.iii)
   ========================================================= */

.ProseMirror.list-lower-roman ol li::before {
  content: counters(item, ".", lower-roman) ". ";
}

/* =========================================================
   UPPER ROMAN (I.II.III)
   ========================================================= */

.ProseMirror.list-upper-roman ol li::before {
  content: counters(item, ".", upper-roman) ". ";
}

/* =========================================================
   UPPER ALPHA (A.B.C)
   ========================================================= */

.ProseMirror.list-upper-alpha ol li::before {
  content: counters(item, ".", upper-alpha) ". ";
}

/* =========================================================
   OUTLINE STYLE (I. A. 1. a.)
   ========================================================= */

.ProseMirror.list-outline ol {
  list-style: none;
}

.ProseMirror.list-outline > ol {
  counter-reset: level1;
}

.ProseMirror.list-outline > ol > li {
  counter-increment: level1;
}

.ProseMirror.list-outline > ol > li::before {
  content: counter(level1, upper-roman) ". ";
}

.ProseMirror.list-outline > ol > li > ol {
  counter-reset: level2;
}

.ProseMirror.list-outline > ol > li > ol > li {
  counter-increment: level2;
}

.ProseMirror.list-outline > ol > li > ol > li::before {
  content: counter(level2, upper-alpha) ". ";
}

.ProseMirror.list-outline > ol > li > ol > li > ol {
  counter-reset: level3;
}

.ProseMirror.list-outline > ol > li > ol > li > ol > li {
  counter-increment: level3;
}

.ProseMirror.list-outline > ol > li > ol > li > ol > li::before {
  content: counter(level3, decimal) ". ";
}

.ProseMirror.list-outline
  > ol
  > li
  > ol
  > li
  > ol
  > li
  > ol {
  counter-reset: level4;
}

.ProseMirror.list-outline
  > ol
  > li
  > ol
  > li
  > ol
  > li
  > ol
  > li {
  counter-increment: level4;
}

.ProseMirror.list-outline
  > ol
  > li
  > ol
  > li
  > ol
  > li
  > ol
  > li::before {
  content: counter(level4, lower-alpha) ". ";
}

/* =========================================================
   BULLET LIST
   ========================================================= */

.ProseMirror ul {
  list-style: none;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ProseMirror ul li {
  position: relative;
  margin-bottom: 0.25rem;
}

.ProseMirror ul li::before {
  content: "•";
  position: absolute;
  left: -1rem;
}

.ProseMirror ul ul li::before {
  content: "◦";
}

.ProseMirror ul ul ul li::before {
  content: "▪";
}

/* =========================================================
   LIST ITEM CONTENT SAFETY
   ========================================================= */

.ProseMirror li > p {
  margin: 0;
}


/* =========================================================
   SPACING FIX FOR MIXED LISTS
   ========================================================= */

.ProseMirror ul ul,
.ProseMirror ul ol,
.ProseMirror ol ul,
.ProseMirror ol ol {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

/* =========================================================
   DEBUG / SAFETY
   ========================================================= */

.ProseMirror .ordered-list {
  background-color: transparent;
}

/* =========================
   MULTILEVEL LIST PRESETS
   ========================= */

/* 1. OUTLINE: I. A. 1. a. */
.ProseMirror.list-outline ol {
  list-style: none;
}
.ProseMirror.list-outline > ol {
  counter-reset: level1;
}
.ProseMirror.list-outline > ol > li {
  counter-increment: level1;
}
.ProseMirror.list-outline > ol > li::before {
  content: counter(level1, upper-roman) ". ";
}
.ProseMirror.list-outline > ol > li > ol {
  counter-reset: level2;
}
.ProseMirror.list-outline > ol > li > ol > li {
  counter-increment: level2;
}
.ProseMirror.list-outline > ol > li > ol > li::before {
  content: counter(level2, upper-alpha) ". ";
}
.ProseMirror.list-outline > ol > li > ol > li > ol {
  counter-reset: level3;
}
.ProseMirror.list-outline > ol > li > ol > li > ol > li {
  counter-increment: level3;
}
.ProseMirror.list-outline > ol > li > ol > li > ol > li::before {
  content: counter(level3, decimal) ". ";
}
.ProseMirror.list-outline > ol > li > ol > li > ol > li > ol {
  counter-reset: level4;
}
.ProseMirror.list-outline > ol > li > ol > li > ol > li > ol > li {
  counter-increment: level4;
}
.ProseMirror.list-outline > ol > li > ol > li > ol > li > ol > li::before {
  content: counter(level4, lower-alpha) ". ";
}

/* 2. DECIMAL-ALPHA: 1. 1.a 1.a.1 */
.ProseMirror.list-decimal-alpha ol {
  list-style: none;
}
.ProseMirror.list-decimal-alpha > ol {
  counter-reset: dec1;
}
.ProseMirror.list-decimal-alpha > ol > li {
  counter-increment: dec1;
}
.ProseMirror.list-decimal-alpha > ol > li::before {
  content: counter(dec1, decimal) ". ";
}
.ProseMirror.list-decimal-alpha > ol > li > ol {
  counter-reset: alpha2;
}
.ProseMirror.list-decimal-alpha > ol > li > ol > li {
  counter-increment: alpha2;
}
.ProseMirror.list-decimal-alpha > ol > li > ol > li::before {
  content: counter(dec1, decimal) "." counter(alpha2, lower-alpha) ". ";
}
.ProseMirror.list-decimal-alpha > ol > li > ol > li > ol {
  counter-reset: dec3;
}
.ProseMirror.list-decimal-alpha > ol > li > ol > li > ol > li {
  counter-increment: dec3;
}
.ProseMirror.list-decimal-alpha > ol > li > ol > li > ol > li::before {
  content: counter(dec1, decimal) "." counter(alpha2, lower-alpha) "." counter(dec3, decimal) ". ";
}

/* 3. DECIMAL MULTILEVEL: 1. 1.1 1.1.1 */
.ProseMirror.list-multidecimal ol {
  list-style: none;
}
.ProseMirror.list-multidecimal > ol {
  counter-reset: dec1;
}
.ProseMirror.list-multidecimal > ol > li {
  counter-increment: dec1;
}
.ProseMirror.list-multidecimal > ol > li::before {
  content: counter(dec1, decimal) ". ";
}
.ProseMirror.list-multidecimal > ol > li > ol {
  counter-reset: dec2;
}
.ProseMirror.list-multidecimal > ol > li > ol > li {
  counter-increment: dec2;
}
.ProseMirror.list-multidecimal > ol > li > ol > li::before {
  content: counter(dec1, decimal) "." counter(dec2, decimal) ". ";
}
.ProseMirror.list-multidecimal > ol > li > ol > li > ol {
  counter-reset: dec3;
}
.ProseMirror.list-multidecimal > ol > li > ol > li > ol > li {
  counter-increment: dec3;
}
.ProseMirror.list-multidecimal > ol > li > ol > li > ol > li::before {
  content: counter(dec1, decimal) "." counter(dec2, decimal) "." counter(dec3, decimal) ". ";
}

/* 4. BULLET MULTILEVEL: • ◦ ▪ */
.ProseMirror.list-bullet ul {
  list-style: none;
}
.ProseMirror.list-bullet ul li::before {
  content: "•";
  position: absolute;
  left: -1rem;
}
.ProseMirror.list-bullet ul ul li::before {
  content: "◦";
}
.ProseMirror.list-bullet ul ul ul li::before {
  content: "▪";
}

/* 5. DECIMAL-ALPHA-DECIMAL: 1. 1.a 1.a.1 */
.ProseMirror.list-decimal-alpha-decimal ol {
  list-style: none;
}
.ProseMirror.list-decimal-alpha-decimal > ol {
  counter-reset: dec1;
}
.ProseMirror.list-decimal-alpha-decimal > ol > li {
  counter-increment: dec1;
}
.ProseMirror.list-decimal-alpha-decimal > ol > li::before {
  content: counter(dec1, decimal) ". ";
}
.ProseMirror.list-decimal-alpha-decimal > ol > li > ol {
  counter-reset: alpha2;
}
.ProseMirror.list-decimal-alpha-decimal > ol > li > ol > li {
  counter-increment: alpha2;
}
.ProseMirror.list-decimal-alpha-decimal > ol > li > ol > li::before {
  content: counter(dec1, decimal) "." counter(alpha2, lower-alpha) ". ";
}
.ProseMirror.list-decimal-alpha-decimal > ol > li > ol > li > ol {
  counter-reset: dec3;
}
.ProseMirror.list-decimal-alpha-decimal > ol > li > ol > li > ol > li {
  counter-increment: dec3;
}
.ProseMirror.list-decimal-alpha-decimal > ol > li > ol > li > ol > li::before {
  content: counter(dec1, decimal) "." counter(alpha2, lower-alpha) "." counter(dec3, decimal) ". ";
}
